body {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    // TODO: reduce to 80%
    width: 100%;
    // FIXME: use darken
    background: lighten(#00628B, 10%); // TODO: make darker
    overflow-x: hidden;
}
